<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add new post</title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/links.css">
    <link rel="stylesheet" href="../css/media-query.css">
</head>

<body>
    <div id="header">
        <h1>School Gists</h1>
    </div>

    <div id="nav-bar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Sections</a></li>
            <li><a href="new-post.html">New gist</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div class="side-bar">
        <h2>Latest Gists</h2>
        <div>
            <li><a href="#">Latest Gist 1</a></li>
            <li><a href="#">Latest Gist 2</a></li>
            <li><a href="#">Latest Gist 3</a></li>
            <li><a href="#">Latest Gist 4</a></li>
            <li><a href="#">Latest Gist 5</a></li>
        </div>
    </div>

    <div class="new-post">
        <h2>Add new gist</h2>

        <form action="#" method="post">
            <h3>Title *</h3>
            <input type="text" name="title" id="title">

            <h3>Content *</h3>
            <textarea name="content" id="content" cols="60" rows="20"></textarea>

            <h3>Add Image</h3>
            <input type="file" name="image" id="file"><br>
            <span style="color: red;">.jpg, .png, .jpeg, .gif only</span>

            <button type="submit">Post</button>
        </form>
    </div>
    <div class="side-bar-mobile">
        <h2>Latest Gists</h2>
        <div>
            <li><a href="#">Latest Gist 1</a></li>
            <li><a href="#">Latest Gist 2</a></li>
            <li><a href="#">Latest Gist 3</a></li>
            <li><a href="#">Latest Gist 4</a></li>
            <li><a href="#">Latest Gist 5</a></li>
        </div>
    </div>

    <div id="footer">
        <p> &copy;school gist. copyright 2021</p>
    </div>
</body>

</html>