<!DOCTYPE html>
<html lang="en">

<head>
    <title>Post title</title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/links.css">
    <link rel="stylesheet" href="../css/media-query.css">
</head>

<body>
    <div id="header">
        <h1>School Gists</h1>
    </div>

    <div id="nav-bar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Sections</a></li>
            <li><a href="new-post.html">New gist</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div id="comments">
        <h2>Comments</h2>
        <div>
            <div class="comment-single">
                <h5><a href="#">Author 1</a></h5>
                <p>Comment 1</p>
            </div>

            <hr>
            
            <div class="comment-single">
                <h5><a href="#">Author 1</a></h5>
                <p>Comment 1</p>
            </div>

            <hr>

            <div class="comment-single">
                <h5><a href="#">Author 1</a></h5>
                <p>Comment 1</p>
            </div>

            <hr>

            <div class="comment-single">
                <h5><a href="#">Author 1</a></h5>
                <p>Comment 1</p>
            </div>

            <hr>

            <div class="comment-single">
                <h5><a href="#">Author 1</a></h5>
                <p>Comment 1</p>
            </div>

            <hr>
        </div>
    </div>

    <div class="single-post">
        <h2>First post</h2>
        <img src="../images/img-148075954.jpg" alt="">
        <p>
            Hello, I have a simple question in regex to did a javascript code for GTM that I believe is easy to solve, anybody can help me?
            I need to get the first 3 characters of that string ("newtest-test"), the dash and the 2 characters after the dash (like that "new-te").
            I use this regex "\w{3}\-\w{2}" but return "est-te". What's wrong?
            15 hrs · Javascript Develo... <span>2 . <a href="#">Like</a></span>
        </p>

        <div class="new-comment">
            <h2>Add a comment</h2>
    
            <form action="#" method="post">        
                <h3>Comment *</h3>
                <textarea name="content" id="content" cols="60" rows="20"></textarea>
    
                <button type="submit">Post</button>
            </form>
        </div>
    </div>

    <div id="comments-mobile">
        <h2>Comments</h2>
        <div class="comment-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>
        
        <hr>

        <div class="comment-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>

        <hr>

        <div class="comment-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>

        <hr>

        <div class="comment-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>

        <hr>

        <div class="comment-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>
    </div>

    <hr>

    <div id="footer">
        <p> &copy;school gist. copyright 2021</p>
    </div>
</body>

</html>