<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact us</title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/links.css">
    <link rel="stylesheet" href="../css/media-query.css">
</head>

<body>
    <div id="header">
        <h1>School Gists</h1>
    </div>

    <div id="nav-bar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Sections</a></li>
            <li><a href="new-post.html">New gist</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div class="contact-info">
        <h2>About us</h2>

        <p>
            School gist is an online platform that seeks to pass information about events and occurences happening onn campus to all students effectively. 
            Our aim is to create a cyber-world where students can gist, interact, advertise and have fun doing those things.
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </p>
    </div>

    <div id="footer">
        <p> &copy;school gist. copyright 2021</p>
    </div>
</body>

</html>