<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/links.css">
    <link rel="stylesheet" href="../css/media-query.css">
</head>
<body>
    <div id="header">
        <h1>School Gists</h1>
    </div>

    <div id="nav-bar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Sections</a></li>
            <li><a href="new-post.html">New gist</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div class="main">
        <h2>First post</h2>
        <img src="../images/img-148075954.jpg" alt="">
        <p>
            Hello, I have a simple question in regex to did a javascript code for GTM that I believe is easy to solve, anybody can help me?
            I need to get the first 3 characters of that string ("newtest-test"), the dash and the 2 characters after the dash (like that "new-te").
            I use this regex "\w{3}\-\w{2}" but return "est-te". What's wrong?
            15 hrs · Javascript Develo...
            2 · Like · React · 4 Comments · Full Story · Save · <a href="single-post.html">More</a>
        </p>
    </div>

    <div class="main">
        <h2>Second post</h2>
        <p>
            i met this guy on the internet caffe i was doing some coding ..and he was like asking dude are you a hacker? i was like wat ?
            he asked again can u hack PayPal
            i said huh
            he asked again can u hack facebook or email
            i told him yeah i can hack cause I can create fake facebook log in form ..amd he was...
            <a href="single-post.html">More</a>
        </p>
    </div>
    
    <div class="main">
        <h2>Third post</h2>
        <p>
            🚨 Reminder
            Remember to submit your abstract for the 1st Nigerian Conference of Applied and Field Epidemiology (NiCAFE).
            The theme:
            “Building back better: COVID-19 and other disease outbreaks”
            For more information scan the barcode or visit:
            <a href="single-post.html">More</a>
        </p>
    </div>

    <div class="next-previous">
        <ul>
            <li><a href="#">Next</a></li>
            <li><a href="#">Previous</a></li>
        </ul>
    </div>

    <div id="footer">
       <p> &copy;school gist. copyright 2021</p>
    </div>
</body>
</html>