<!DOCTYPE html>
<html lang="en">

<head>
    <title>Leave a reply</title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/links.css">
    <link rel="stylesheet" href="../css/media-query.css">
</head>

<body>
    <div id="header">
        <h1>School Gists</h1>
    </div>

    <div id="nav-bar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Sections</a></li>
            <li><a href="single-post.html">New gist</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div id="replies">
        <h2>Replies</h2>
        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Reply 1</p>
        </div>

        <hr>

        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Reply 1</p>
        </div>

        <hr>

        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Reply 1</p>
        </div>

        <hr>

        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Reply 1</p>
        </div>

        <hr>

        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Reply 1</p>
        </div>

        <hr>
    </div>

    <div class="single-post">
            <div class="new-reply">
                <h2>Leave a Reply</h2>
        
                <form action="#" method="post">        
                    <textarea name="content" id="content" cols="60" rows="20"></textarea>
        
                    <button type="submit">Post</button>
                </form>
            </div>
        </p>
    </div>

    <div id="replies-mobile">
        <h2>Replies</h2>
        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>
        
        <hr>

        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>

        <hr>

        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>

        <hr>

        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>

        <hr>

        <div class="reply-single">
            <h5><a href="#">Author 1</a></h5>
            <p>Comment 1</p>
        </div>
        
        <hr>
    </div>

    <div id="footer">
        <p> &copy;school gist. copyright 2021</p>
    </div>
</body>

</html>