/*"@media only screen" to specify changes for mobile devices only*/
/*"@media (max-width: 700px) and (min-width: 500px)" to specify a range*/

@media only screen { 

    .side-bar {
        display: block;
    }

    .main, .new-post, .single-post  {
        margin: 7px 310px 7px 7px;
    }

    #comments {
        display: none;
    }

    #comments-mobile, .side-bar-mobile {
        display: block;
    }
}