/*===== LINKS FOR PAGES ====*/

/*==== LINKS FOR NAV BAR*/
#nav-bar ul li a{
    color: white;
    padding: 2px 4px;
    text-decoration: none;
    font-family: georgia;
    font-size: large;
}

#nav-bar ul li a:hover {
    color: black;
    background-color: white;
    border: 5px;
}

/*==== Home page ====*/
.side-bar div li a, .main p a, .side-bar-mobile div li a {
    text-decoration: none;
    color:white;
}

.side-bar div li a:hover, .main p a:hover, .side-bar-mobile div li a:hover {
    color: black;
}

.next-previous ul li a{
    text-decoration: none;
    font-size: 1.5em;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-family:georgia, 'Times New Roman', sans-serif;
}

.next-previous ul li a:hover{
    background-color: white;
    color: black;
}
