/*"@media only screen" to specify changes for mobile devices only*/
/*"@media (max-width: 700px) and (min-width: 500px)" to specify a range*/

@media(max-width: 750px) { 

    .side-bar {
        display: none;
    }

    .main, .new-post, .single-post  {
        margin: 7px;
    }

    #comments, #replies {
        display: none;
    }

    #comments-mobile, #replies-mobile, .side-bar-mobile {
        display: block;
    }
}